<nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Brand -->
    <span class="nav-brand">
      <a routerLink="/" class="navbar-brand">
        <fa-icon [icon]="bookIcon" size="lg" class="icon"></fa-icon>
        <span class="nav-brand-text" placement="bottom" ngbTooltip="Inventory Management System">
          IMS
        </span>
      </a>
    </span>

    <div>
      <div class="input-group d-none d-sm-none d-md-flex">

        <div class="input-group-prepend">
          <button class="btn btn-success btn-lg" type="submit" (click)="toggleNavbar()">
            <span class="search-wrapper">
              <fa-icon [icon]="faPlusIcon" size="lg" class="btn-icon"></fa-icon>
              Neu
            </span>
          </button>
        </div>

        <div class="input-group-append">
          <button class="btn btn-primary btn-lg" type="submit" (click)="searchBarState = !searchBarState">
            <span class="search-wrapper">
              <fa-icon [icon]="searchIcon" size="lg" class="btn-icon"></fa-icon>
              Suchen
            </span>
          </button>
        </div>


        </div>
      </div>

    <!-- Mobile Button -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse navbar-hidden" [ngbCollapse]="navbarState">

      <ul class="navbar-nav mr-4">

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']" (click)="toggleNavbar()">Home</a>
        </li>

        <li class="nav-item bottom-item">
          <a class="nav-link" [routerLink]="['/']" (click)="toggleNavbar()">Admin</a>
        </li>

      </ul>

    </div>

  </div>
</nav>

<div class="search-bar-wrapper" [ngbCollapse]="searchBarState">
  <div class="search-bar d-flex">

      <!-- Autofocus if opened -->

      <input type="search" class="form-control search-bar-input" id="search-bar-input">

      <button class="btn btn-primary btn search-bar-btn">
        <fa-icon [icon]="searchIcon" size="lg" class="btn-icon"></fa-icon>
      </button>

  </div>
</div>
