<nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Brand -->
    <span class="nav-brand">
      <a routerLink="/" class="navbar-brand">
        <fa-icon [icon]="bookIcon" size="lg" class="icon"></fa-icon>
        <span class="nav-brand-text" placement="bottom" ngbTooltip="Inventory Management System">
          IMS
        </span>
      </a>
    </span>

    <div>
      <div class="input-group d-none d-sm-none d-md-flex">
        <input type="search" class="form-control nav-search" placeholder="Suchbegriff" [(ngModel)]="searchInputValue" placement="bottom" ngbTooltip="Suchbegriff eingeben" triggers="focus">
        <span class="input-group-append">
          <button class="btn btn-primary search-button" type="submit">
            <fa-icon [icon]="searchIcon" size="lg" class="btn-icon"></fa-icon>
          </button>
          <button class="btn btn-secondary search-button" type="button" (click)="showSearchModal(this.searchInputValue)">
            <fa-icon [icon]="caretIcon" size="lg" class="btn-icon"></fa-icon>
          </button>
        </span>
      </div>
    </div>

    <!-- Mobile Button -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" (focusout)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse navbar-hidden" [ngbCollapse]="navbarState">

      <ul class="navbar-nav mr-4">

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/']" (click)="toggleNavbar()">Home</a>
        </li>

        <li class="nav-item bottom-item">
          <a class="nav-link" [routerLink]="['/']" (click)="toggleNavbar()">Admin</a>
        </li>

      </ul>

    </div>

  </div>
</nav>
