<div class="main-wrapper">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" class="table-header">ID</th>
      <th scope="col" class="table-header">Bezeichnung</th>
      <th scope="col" class="table-header">Art</th>
      <th scope="col" class="table-header">Kiste</th>
      <th scope="col" class="table-header">Set</th>
      <th scope="col" class="table-header">Set Kiste</th>
      <th scope="col" class="table-header">Kat. Jahr</th>
      <th scope="col" class="table-header">Seite</th>
      <th scope="col" class="table-header">Syn</th>
      <th scope="col" class="table-header table-header-no-link">
        <fa-icon [icon]="editIcon" size="lg" class="icon"></fa-icon>
      </th>
      <th scope="col" class="table-header table-header-no-link">
        <fa-icon [icon]="glassesIcon" size="lg" class="icon"></fa-icon>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>aasdasds</td>
      <td>aasdasds</td>
      <td>aasdasds</td>
      <td>aasdasds</td>
      <td>aasdasds</td>
      <td>asudhasd</td>
      <td>asudhasd</td>
      <td>asudhasd</td>
      <td><a routerLink="/" class="btn btn-secondary">
        <fa-icon [icon]="editIcon" size="lg" class="icon"></fa-icon>
      </a></td>
      <td><a routerLink="/" class="btn btn-secondary">
        <fa-icon [icon]="glassesIcon" size="lg" class="icon"></fa-icon>
      </a></td>
    </tr>
    </tbody>
  </table>

</div>
