<div class="main-wrapper" *ngIf="filteredInventory.length">

  <div class="container-fluid">
    <div class="row d-flex justify-content-end nav-menu">

      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-secondary" *ngFor="let slice of pageList" (click)="switchToPage()">{{ slice }}</button>

            <div ngbDropdown class="btn-group" role="group">
              <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Einträge / Seite</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="limitInventory(10)">
                  <strong>10 (Standard)</strong>
                </button>

                <button ngbDropdownItem *ngFor="let item of filteredInventoryIndexes" (click)="limitInventory(item)">{{ item }} Einträge</button>

                <button ngbDropdownItem (click)="limitInventory(inventory.length)">
                  <strong>{{ inventory.length }} Alle Einträge</strong>
                </button>
              </div>
            </div>
      </div>







      <!--<button class="btn btn-secondary">Vorherige Seite</button>
      <button class="btn btn-secondary"></button>
      <button class="btn btn-secondary">Nächste Seite</button>-->

    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th scope="col" class="table-header">ID</th>
      <th scope="col" class="table-header">Bezeichnung</th>
      <th scope="col" class="table-header">Art</th>
      <th scope="col" class="table-header">Kiste</th>
      <th scope="col" class="table-header">Set</th>
      <th scope="col" class="table-header">Set Kiste</th>
      <th scope="col" class="table-header">Kat. Jahr</th>
      <th scope="col" class="table-header">Seite</th>
      <th scope="col" class="table-header">Syn</th>
      <th scope="col" class="table-header table-header-no-link">
        Öffnen
      </th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of filteredInventory">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.container }}</td>
      <td>{{ item.combo }}</td>
      <td>{{ item.fromContainer }}</td>
      <td>{{ item.year }}</td>
      <td>{{ item.page }}</td>
      <td>{{ item.syn }}</td>
      <td>
        <a [routerLink]="['/detailed', item.id]" class="btn btn-secondary">
          <fa-icon [icon]="externalLinkIcon" size="lg" class="icon"></fa-icon>
        </a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
